//Utilidades
@import "./utilities/fonts";
//Secciones
@import"./sections/header";
@import "./sections/lines";

.main-inicio {
    height: 100%;
    background-color: #0D0D0D;
    color: #D9A08B;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: "Lato", sans-serif;
        text-align: center;
        // border:#D9D8D7,solid,3px ;
    }

    .forma {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        background: #D9A08B;
        box-shadow: 24px -24px 48px #8d685a,
            -24px 24px 48px #ffd8bc;

        // width: 100px;
        // height: 100px;
        // transition: width 2s, height 4s;
        // position: relative;
        // transform: rotate(180deg);
        p {
            color: #0D0D0D;
            font-family: "Lato";
            font-weight: bold;

        }
    }

}

.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
}

div .margaritas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "seisM . . . ."
        ". . . tresM ."
        ". unaM . . .";
}

.seisM {
    grid-area: seisM;

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: relative;
        animation-name: memuevo;
        animation-duration: 4s;
    }
}

.seisM :hover {
    width: 150px;
   height: 150px;
//    transform: rotate(180deg);
//    transition: width 2s, height 2s, transform 3s ease-in-out;
}



.tresM {
    grid-area: tresM;

    img {
        width: 30%;
        border-radius: 50%;
    }
}

.unaM {
    grid-area: unaM;

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        transition: width 2s, height 2s, transform 3s ease-in-out;
    }

}

.unaM :hover {
        width: 150px;
        height: 150px;
        transform: rotate(180deg);
    }

    // &:not(:hover) {
    //     transform: scale(1.05);
    //     transition: 3s ease;
    // }


@keyframes memuevo {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 150px;
        top: 0px;
    }

    50% {
        left: 150px;
        top: 0px;
    }

    75% {
        left: 150px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

footer {
    img{
        position: fixed;
    }
    background-color: #0D0D0D;
    height: 100vh;
}