.header{
    background-color: #0D0D0D !important;
    color: #D9A08B !important;
    nav{
        background-color: #0D0D0D !important;
   
    div{
        a{
            color: #D9A08B;
        }
        div{
            ul{
                li{
                    a{
                        color: #D9A08B;
                    }
                }
            }
            form{
                button{
                    color: #D9A08B;
                }
            }
        }
    }
    }
}